@font-face {
  font-family: 'sorts_mill_goudyregular';
  src: url('GoudyStM-webfont.eot');
  src: url('GoudyStM-webfont.eot?#iefix') format('embedded-opentype'),
       url('GoudyStM-webfont.woff') format('woff'),
       url('GoudyStM-webfont.ttf') format('truetype'),
       url('GoudyStM-webfont.svg#sorts_mill_goudyregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
  text-align: center;
  font-family: 'sorts_mill_goudyregular', "Roboto Mono";
  font-style: normal;
  background-color: #7DCFB6;
}

.forms{
  background-color: #00B2CA;
  height: 500px;
  padding-top: 25px;
}

#main_text{
  background: rgba(73,155,234,1);
  background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(29,78,137,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(29,78,137,1)));
  background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(29,78,137,1) 100%);
  background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(29,78,137,1) 100%);
  background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(29,78,137,1) 100%);
  background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(29,78,137,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#1d4e89', GradientType=1 );
  font-size: 48px;
  color: #7DCFB6;
  /*background-color: #1D4E89;*/
  height: 200px;
}

#pass_text{
  padding-top: 120px;
}

.input_submit{
  height: 45px;
  width: 500px;
  font-size: 25px;
  font-family: 'sorts_mill_goudyregular', 'Roboto Mono', sans-serif;
  padding-left: 9px;
  box-shadow: 0 7px 8px 0 rgba(0,0,0,0.2);
  background: #fae5cd;
  border: 0.5px solid;
	border-color: #525655;
}

.submitButton{
  height: 35px;
  background-color: #1D4E89;
  border: none;
  font-family: 'sorts_mill_goudyregular', 'Roboto Mono', sans-serif;
  font-size: 23px;
  background: #fae5cd;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
  text-align: center;
  margin-top: 10px;
  color: #1D4E89;
}

.reloadButton{
  height: 20px;
  background-color: #1D4E89;
  border: none;
  font-family: 'sorts_mill_goudyregular', 'Roboto Mono', sans-serif;
  font-size: 14px;
  background: #fae5cd;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
  text-align: center;
  margin-top: 25px;
  color: #1D4E89;
}

.newTexts{
  margin-top: 23px;
  color: #1D4E89;
  font-size: 23px;
  font-weight: bold;
  text-align: left;
  margin-left: 15px;
  padding-top: 15px;
}

#text6{
  text-align: center;
}

footer{
  color: #628191;
}
